{
  "phpVersion": "8.1",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
