<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="All Tests">
      <directory>tests/unit/controllers</directory>
    </testsuite>
    <testsuite name="Auth Tests">
      <file>tests/unit/controllers/AuthControllerTest.php</file>
    </testsuite>
    <testsuite name="Buyer Tests">
      <directory>tests/unit/controllers/buyer</directory>
    </testsuite>
    <testsuite name="Client Tests">
      <directory>tests/unit/controllers/client</directory>
    </testsuite>
    <testsuite name="Manager Tests">
      <directory>tests/unit/controllers/manager</directory>
    </testsuite>
  </testsuites>
</phpunit>
